html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: inter;
    src: url("../assets/fonts/Inter/static/Inter-Regular.ttf");
}

a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: rgb(248, 105, 105);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'inter';
}

.avatar {
    width: 200px;
    border-radius: 50%;
}

.introduction {
    padding: 20px;

    background-color: rgb(228, 215, 141);
}


.main {
    display: flex;
    font-family: 'inter';
    background-color: rgb(224, 205, 180);
}

.main-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.main-photo {
    padding: 50px;
}

.main-content {
    width: 60%;
}

.nav-list {
    display: flex;
    list-style: none;
    padding-left: 15px;
    justify-content: flex-end;

}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

.conclusion {
    border: 1px dotted greenyellow;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.cell {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
}

.cell-header {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    /* letter-spacing: 5px; */
    color: #829985;
    /* width: 80%; */
    border-bottom: 1px solid black;
}
.listsckills {
    padding-left: 15px;
}

.listcontact {
    padding-left: 15px;
}

.cell-paragraph {
    padding: 0 40px;
}

.separator {
    height: 100px;
}

.code {
    position: relative;
    right: 120px;
}

.conclusion {
    background-color: rgb(57, 252, 89);
}

.conclusion-text {
    display: flex;
    justify-content: center;
}

.conclusion-logo {
    background-color: rgb(204, 247, 14);
    width: 50px;
}

@media (max-width: 1440px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }

    .nav-link {
        /* display: flex; */
        padding: 5px;
        line-height: 5px;
        transition: .3s;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 30px;
    }

    .main-photo {
        padding: 20px;
    }


}