@font-face {
    font-family: inter;
    src: url("../assets/fonts/Inter/static/Inter-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'inter';
}

.avatar {
    width: 100px;
    border-radius: 50%;
}

.main{
font-family: 'inter';
}
.nav-list{
    display: flex;
    gap: 50px;
    list-style: none;
}
.nav-item{
text-decoration: none;}
.conclusion{
border: 1px dotted greenyellow;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .cell{
    border: 1px solid black;
  }
  .conclusion-logo{
    background-color: yellow;
    width: 50px;
  }